<div class="container">
    <h3>Lab Tests Prescribed Today</h3>
    <div class="row">
      <div class="col-sm-8">
        <input type="search" class="form-control"
               placeholder="Search by Patient Name"
               [(ngModel)]="searchTerm">
      </div>
    </div>
  
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Report ID</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Doctor Name</th>
          <th scope="col">Lab Test</th>
          <th scope="col">High Range</th>
          <th scope="col">Low Range</th>
          <th scope="col">Remarks</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let labTest of filteredLabTests() | paginate: { itemsPerPage: pageSize, currentPage: page }">
          <td>{{'LT' + labTest.LTReportId}}</td>
          <td>{{labTest.PatientName}}</td>
          <td>{{labTest.StaffName}}</td>
          <td>{{labTest.LabTestId}}</td>
          <td>{{labTest.HighRange}}</td>
          <td>{{labTest.LowRange}}</td>
          <td>{{labTest.Remarks}}</td>
          <td>
            <button class="btn btn-sm btn-outline-info" (click)="generateLabReport(labTest.LTReportId)">
              Generate Report
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- <div *ngIf="labTests.length > 0">
        <pagination-controls 
        (pageChange)="onPageChange($event)">
      </pagination-controls>    </div> -->
  </div>
  