<div class="container mt-4">
    <!-- Header -->
    <h3 class="text-center mb-4">List of registered users</h3>
  
    <!-- Search and Add Staff -->
    <div class="row mb-3">
      <!-- Search -->
      <div class="col-md-8">
        <input
          type="search"
          class="form-control"
          placeholder="Search staff here..."
          [(ngModel)]="searchTerm"
        />
      </div>
     

      <!-- Add Staff -->
      <div class="col-md-4 text-md-end text-center">
        <a [routerLink]="['/admin/add']" role="button" class="btn btn-outline-primary">

          <i class="fa fa-user-plus fa-lg"></i>&nbsp;Add Staff
        </a>
      </div>
    </div>
  
    <!-- Employee Records Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col">Staff Code</th>
            <th scope="col">Staff Name</th>
            <th scope="col">DepartmentName</th>
            <!-- <th scope="col">Dob</th> -->
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <!-- <th scope="col">Created Date</th> -->
            <th scope="col">Salary</th>
            <th scope="col">Is Active</th>
            
            <!-- <th scope="col">PhoneNumber</th>
            <th scope="col">Gender</th> -->
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr
            *ngFor="let staff of filteredStaffs() 
          | paginate: { itemsPerPage: pageSize, currentPage: page }"
          >
            <td>{{ 'ST' + staff.StaffId }}</td>
            <td>{{ staff.StaffName }}</td>
            <td>{{ staff.Department?.DepartmentName }}</td>
            <!-- <td>{{ staff.Doj | date: 'yyyy-MM-dd' }}</td> -->
            <!-- <td>{{ staff.Dob | date: 'yyyy-MM-dd' }}</td> -->
            <td>{{ staff.Address }}</td>
            <td>{{ staff.PhoneNumber }}</td>
            <td>{{ staff.Email }}</td>
            <td>{{ staff.Gender }}</td>
            <td>{{ staff.Salary }}</td>
            <!-- <td>{{ staff.CreatedDate | date: 'yyyy-MM-dd' }}</td> -->
            <td>
              <input  
                type="checkbox"
                [checked]="staff.StaffIsActive"
                class="form-check-input"
                disabled
              />
            </td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-outline-info"
                (click)="UpdateStaffs(staff)"
                title="Edit"
              >
                <i class="fa fa-edit"></i>
              </button>
              &nbsp;
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="deleteStaff(staff)"
                title="Delete"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Pagination -->
    <div class="footer text-center mt-3">
      <pagination-controls
        class="custom-page"
        (pageChange)="page = $event"
      ></pagination-controls>
    </div>
  </div>
  